*{
    margin:0;
    padding:0;
}
body{
    background: linear-gradient(#060606, #1d1d1d,#030303);
    color:rgb(163, 163, 163);
    font-size:20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
    max-width:1920px;
    width:100%;
}
main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    max-width: 1920px;
    width:100%;
}
header{
    max-width:1920px;
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-direction: column;
}
header > div{
    width:100%;
    display:flex;
    justify-content: space-around;
    align-items: space-between;
    flex-wrap:wrap;
}
body > main > header > div > nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    width:100%;
    /* min-width:370px; */
    min-height:37px;
    max-width:calc(550px + 9% + 3px);
}
body > main > header > div > nav > ul{
 
    width:100%;
    /* min-width:370px; */
    max-width:calc(350px 9% + 3px);
}
@media(min-width:370px){
    body > main > header > div > nav > ul{
    min-width:370px;
        
    }
}
body > main > header > div > nav > ul > li{
    display:inline-block;
    margin-right:calc(3% + 1px);
    font-size:22px;
}
/* body > main > header > div > nav > ul > li > a */
body > main > header > div > nav > ul > li > a{
    color:white;
    text-decoration:none;
}
/* body > main > header > div > nav > ul > li:nth-child(1){
    width:137px;
} */
header > div > img{
    width:100%;
    max-width:700px;
}
header > div{
    width:100%;
    max-width:1300px;

}
header > div > div > h1{
    width:100%;
    max-width:570px;
    font-size:75px;
}
body > main > header > div:nth-child(2) > div{
    width:100%;
    max-width:570px;
}
header > div > div > strong{
    width:100%;
    max-width:570px;
}
header > div > h1{
    width:100%;
    max-width:570px;
}


body > main > article{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: column;
    max-width:1920px;
    width:100%;
}
body > main > article > h2{
    width:100%;
    max-width: 1920px;
    text-align: center;
    /* text-align: start; */
}
body > main > article > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap:wrap;
    max-width:1920px;
    width:100%;
}

body > main > article > div > div{
    width:100%;
    max-width:350px;
    min-height:500px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
body > main > article > div > div> img{
    width:100%;
    max-width:350px;
}
/* body > main:nth-child(1) > article:nth-child(2) > section:nth-child(3) */
article > section > h3, article > section > p{
    margin:1%;
}
article > section > ol > li{
    margin-left:73px;
}
footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:100%;
    max-width:1920px;
}
footer > div{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    max-width:1920px;
}
footer > div > strong{
    min-height:70px;
    display:flex;
    justify-content: center;
    align-items: center;
}
footer > div > strong > a{
    text-decoration: none;
    color:white;
}
footer > hr{
    width:calc(100% - 7px);
    max-width:calc(1920px - 7px);
    color:gray;
    height:3px;
    margin-bottom:3%;
}
#sigCommentsBlock{
    width:100%;
    max-width:700px;
}